<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Task Manager</title>
  <script src="./../../../node_modules/angular/angular.js"></script>
  <script src="script.js"></script>
  <script src="task.js"></script>
  <script src="urgentTask.js"></script>
  <script src="taskRepo.js"></script>
  <script src="repoDecorator.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="taskManager">
  <h1>Task Manager</h1>
  <div ng-controller="taskCtrl as ctrl">
    <div ng-repeat="task in ctrl.tasks">
      <input type="checkbox" ng-checked="task.completed" ng-click="task.complete()" /> {{task.name}}
    </div>
  </div>
</body>

</html>
